.camera{
    text-align: center;
    font-size: 50px;
    margin-top: 50px;
    margin-left: 400px;
    width: 800px;
    height: 800px;
    -moz-perspective: 2000px;
    -ms-perspective:2000px;
    perspective: 2000px;
    -moz-perspective-origin: center center;
    -ms-perspective-origin: center center;
    perspective-origin: center center;
}
.stage{
    width: 100%;
    height: 100%;
    border: 1px dashed #000;
    -moz-transform: rotateX(-45deg) rotateY(-45deg) rotateZ(0deg);
    -ms-transform: rotateX(-45deg) rotateY(-45deg) rotateZ(0deg);
    transform: rotateX(-45deg) rotateY(-45deg) rotateZ(0deg);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.cube{
    position: absolute;
    left: 100px;
    top:50px;
    margin-left: 30px;
    width: 600px;
    height: 600px;
    color: white;
    background-color: rgba(255,85,85,0.5);
}
.up{
    background-color: #302c66;
    opacity:0.6;
    -moz-transform: rotateX(90deg) translateZ(100px);
    -ms-transform: rotateX(90deg) translateZ(100px);
    transform: rotateX(90deg) translateZ(100px);
}
.up p{
    position: absolute;
    left: 45%;
    bottom: 5px;
}
.down{
    background-color: #000000;
    opacity: 0.5;
    -moz-transform: rotateX(-90deg) translateZ(100px);
    -ms-transform: rotateX(-90deg) translateZ(100px);
    transform: rotateX(-90deg) translateZ(100px);
}
.left{
    background-color: #fe3845;
    opacity: 0.5;
    -moz-transform: rotateY(-90deg) translateZ(100px);
    -ms-transform: rotateY(-90deg) translateZ(100px);
    transform: rotateY(-90deg) translateZ(100px);
}
.right{
    background-color: #ffff0b;
    opacity:0.6;
    -moz-transform: rotateY(90deg) translateZ(100px);
    -ms-transform: rotateY(90deg) translateZ(100px);
    transform: rotateY(90deg) translateZ(100px);
}
.front{
    background-color: #64e1b4;
    opacity:0.6;
    -moz-transform: translateZ(100px);
    -ms-transform: translateZ(100px);
    transform: translateZ(100px);
}
.back{
    background-color: #0c12ff;
    opacity: 0.5;
    -moz-transform: rotateY(180deg) translateZ(100px);
    -ms-transform: rotateY(180deg) translateZ(100px);
    transform: rotateY(180deg) translateZ(100px);
}
div.container .left_aside_l{
    position: absolute;
    left: 50px;
    top: 50px;
}
div.container .left_aside_c{
     position: absolute;
     left: 280px;
     top: 50px;
 }
div.container .left_aside_r{
    position: absolute;
    left: 400px;
    top: 50px;
}